*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#panel{
width: 80%;
height: 60px;
background-image: url(../img/pattern.png);
background-size: 28%;
background-color: #4EA0FF;
margin: 0 auto;
}

#logo{
  width: 150px;
  height: 80px;
  margin-left: 50px;
}

.container{
  width: 70%;

  margin: 0 auto;
  font-size: 12px;
}

h2{
  margin-top: 10px;
  
}

.subtitle{
  color: grey;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.date{
  font-size: 10px;
  display: block;
}

.position-img{
  background-position: center;
  background-size: contain;
  width: 49%;
  height: 250px;
}

.caption{
  font-size: 8px;
}

.first-p>span{
  background-color: yellow;
}

.first-p{
  margin: 15px 0;
}

ul{
  margin-left: 15px;
  margin-bottom: 20px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

thead{
  background-color: #20A9E5;
  color: white;
}

th{
  width: 40px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #B1E5F2;
}

#grey{
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
  display: block;
}

.lorem1{
  background-image: url(../img/monitor.jpg);
}

.lorem2{
  background-image: url(../img/graph.jpg);
}

.img-footer{
  height: 120px;
  width: 150px;
  display: block;
  margin: 5px 0;
  padding: 10px;
}

.lorem1 span, .lorem2 span{
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 15px;

}